*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Microsoft Sans Serif';
    box-sizing: border-box;
}
body{
    background: wheat;
}
header{
    width:100%;
    height: 80px;
    background: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
header.sticky{
    background: transparent;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgba(0 0 0 / 10%);
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: brown;
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: darkred;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    font-weight: bold;
}
.nav-bar ul li a:hover{
    color: darkgreen;
    background: burlywood;
}
.nav-bar ul li a.active{
    color: darkgreen;
    background: burlywood;
}
.slider{
    width: 100%;
    height: 100px;
    overflow: hidden;
    background: black;
}
.logas{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide 25s linear infinite;
}
.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.center-text span{
     color: indianred;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
    padding-left: 65px;
}
.row{
    position: relative;
    transition: all .40s;
}
.row img{
    width: 200px;
    height: 200px;
    transition: all .40s;
}
.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: limegreen;
    padding: 0px 10px;
    border-radius: 2px;
}
.price h4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.price p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}
.btn{
    margin-top: 5rem;
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    background: black;
    border-radius: .5rem;
    cursor: pointer;
    padding: .5rem .1rem;
    margin-bottom: 30px;
}
.btn:hover{
    background: green;
}
.Order {
    background: wheat;
}
.center-text h3 {
    color: green;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 50px;
}
.center-text h1 {
    color: #11101b;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 5px;
}
.Contacts-form form{
    position: relative;
}
.Contacts-form form input,
form textarea{
    width: 50%;
    padding: 14px;
    background: darkgrey;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.Contacts-form textarea{
    resize: none;
    height: 240px;
}
.Contacts-form .submit{
    display: inline-block;
    font-size: 14px;
    background: orange;
    color: red;
    width: 100px;
    transition: all .4s ease;
}
.Contacts-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
}
footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding-left: 70px;
}
.footer .box-container .box h3{
    padding: 5rem 0;
    font-size: 2.5rem;
    color: #11101b;
}
.footer .box-container .box a{
    display: block;
    padding: 5rem 0;
    font-size: 2.5rem;
    color: orange;
}
.footer .box-container .box a:hover{
    color: green;
    text-decoration: underline;
}
.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 1rem;
    color: #11101b;
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}
.footer .credit span{
    color: darkgreen;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}
.logas img{
    width: 110px;
    margin: 0 25px;
}
@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px){
    header{
        padding: 0 25px;
    }
}
@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: black;
        margin: 6px 0;
    }
    .nav-bar{
        height:0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.3s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 100px 20px 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 1;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 15px;
        color: wheat;
    }
    .order form .inputBox .input {
        width: 100%;
    }
}
@media only screen and (max-width: 450px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: black;
        margin: 6px 0;
    }
    .nav-bar{
        height:0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.3s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 15px;
        color: wheat;
    }
    .order form .inputBox .input {
        width: 100%;
    }
}